<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <system.web>
            <httpRuntime maxRequestLength="5242880" executionTimeout="7200" />
    </system.web>

   <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <httpProtocol>
        <customHeaders>
            <!-- This header is used to prevent HTTP/2 in some configurations  -->
            <add name="Upgrade-Insecure-Requests" value="0" />
        </customHeaders>
    </httpProtocol>
        <security>
        <requestFiltering>
            <requestLimits maxAllowedContentLength="3435973837" />
        </requestFiltering>
    </security>
      <defaultDocument>
           <files>
              <clear />
               <add value="index.php" />
           </files>
       </defaultDocument>
    <staticContent>
    <mimeMap fileExtension=".webp" mimeType="image/webp" />
  </staticContent>
  <rewrite>
           <rules>
               <rule name="Remove Index.php" stopProcessing="true">
                   <match url="^(.*)$" ignoreCase="false" />
                   <conditions logicalGrouping="MatchAll">
                       <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                       <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                       <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                   </conditions>
                   <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />                   
               </rule>
               
                    <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
                </rule>

                <!-- Rule 2: Redirect non-www to www -->
                <rule name="Redirect non-www to www" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(?!www\.).*" />
                    </conditions>
                    <action type="Redirect" url="https://www.{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
                </rule>

            </rules>
         </rewrite>
   </system.webServer>
</configuration>